<div class="ae-modal-backdrop" *ngIf="isVisible" (click)="close()"></div>
<div class="ae-modal-content" *ngIf="isVisible">
  <form role="create or update event" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="ae-modal-header">
      <h4 class="ae-modal-title">{{ title }}</h4>

      <button
        [attr.aria-label]="'Close'"
        class="ae-modal-close"
        type="button"
        (click)="close()">×</button>
    </div>
    <div class="ae-modal-body">
        <div class="relative">
          <label for="eventName" class="event-form-label">Event Name:</label>
          <input
            id="eventName"
            name="eventName"
            formControlName="name"
            class="event-form-input"
            aria-label="Event Name"
            [value]="''" />

          <span class="error absolute"
              *ngIf="showErrors && hasError('name', 'required')">
              Name is required
          </span>
        </div>

        <div class="event-form-time relative">
          <div class="event-form-time-picker relative">
            <label for="eventStartDate" class="event-form-label">Start Date:</label>
            <input
              id="startDate"
              type="text"
              name="startTime"
              formControlName="startTime"
              class="event-form-input"
              aria-label="Start Date"
              #start
              />
              <span class="error absolute"
                *ngIf="hasError('startTime', 'required')">
                Start Time is required
              </span>

          </div>

          <div class="event-form-time-picker relative">
            <label for="eventEndDate" class="event-form-label">End Date:</label>
            <input
              id="endDate"
              type="text"
              name="endTime"
              formControlName="endTime"
              class="event-form-input"
              aria-label="End Date"
              #end
              />
              <span class="error absolute"
                *ngIf="hasError('endTime', 'required')">
                End Time is required
              </span>
          </div>

          <span class="error absolute"
            *ngIf="submitted && eventForm.hasError('startDateBeforeEndDate')">
            Start date and time must be before the end date and time.
          </span>

        </div>

        <label for="eventDescription" class="event-form-label">Description:</label>
        <textarea
          id="eventDescription"
          class="event-form-input"
          name="eventDescription"
          formControlName="description"
          aria-label="Event description"
          >{{''}}</textarea>

    </div>

    <div class="ae-modal-footer">
      <button
        *ngIf="showRemoveButton"
        tabindex="0"
        role="button"
        type="button"
        class="ae-button delete-button"
        (click)="deleteEvent(data.id)">Remove</button>

      <div [ngClass]="{'move-to-end' : !showRemoveButton}">
        <button
          type="button"
          tabindex="0"
          role="button"
          class="ae-button cancel-button"
          (click)="close()">Cancel</button>
        <button
          type="submit"
          tabindex="0"
          role="button"
          [disabled]="submitted"
          class="ae-button save-button">Save</button>
      </div>
    </div>
  </form>
</div>


<app-delete-popup
  #deletePopupModal
  [id]="data && data.id ? data.id : ''"
  [name]="data && data.name ? data.name : ''"
  (confirmEventDelete)="confirmEventDelete($event)"
  >
</app-delete-popup>
