:host {
  display: block;
  width: 100%;
}

.ae-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.ae-modal-backdrop.delete-popup-backdrop {
  z-index: 10005;
  background: rgba(0, 0, 0, 0.3);
}
.ae-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px; /* Padding inside the modal */
  border-radius: 8px; /* Rounded corners */
  width: 90%; /* Responsive width */
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}
.ae-modal-body {
  margin: 15px 0;
}

/* Modal Header */
.ae-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* Space below header */
}

/* Modal Title */
.ae-modal-title {
  font-size: 18px; /* Font size for the title */
  font-weight: 600; /* Bold font for emphasis */
  color: #333;
  margin: 0;
}

/* Close Button */
.ae-modal-close {
  background: none; /* No background */
  border: none; /* No border */
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 3px;
  &:focus {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.5); /* Add border to highlight focus */
    outline: none; /* Remove default browser outline */
  }
}
.ae-modal-close:hover {
  color: #333;
}

/* Modal Body */
.ae-modal-body {
  margin-bottom: 15px; /* Space below body content */
}

/* Modal Footer */
.ae-modal-footer {
  display: flex;
  justify-content: space-between;
}
.save-button {
  background-color: #007bff; /* Primary blue color */
}
/* Button Hover State */
.save-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.cancel-button {
  background-color: #9FA6B2; /* Primary blue color */
}
/* Button Hover State */
.cancel-button:hover {
  background-color: #63676d; /* Darker blue on hover */
}
.delete-button {
  background-color: #dc3545; /* Primary blue color */
}
/* Button Hover State */
.delete-button:hover {
  background-color: #ff0000; /* Darker blue on hover */
}
.delete-button:hover {
  background-color: #ff0000; /* Darker blue on hover */
}

.event-form-label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 0.25rem;
  text-align: left;
}
.event-form-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.event-form-time .event-form-time-picker{
  width: 48%;
}
.move-to-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 600px) {
  .ae-modal-content {
    width: 95%; /* Full width on smaller screens */
  }
}
