button:disabled {
  background-color:#CCC;
  pointer-events: none;
  opacity: 0.75;
}

/* Button Styles */
@mixin button-styles($backgroundColor: #007bff, $hoverColor: #0056b3, $focusColor: #0056b3, $shadowColor: 0 0 0 3px rgba(0, 123, 255, 0.5)) {
  background-color: $backgroundColor;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white; /* White text */
  border: none; /* No border */
  padding: 8px 16px; /* Padding inside the buttons */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  font-size: 14px;
  min-width: 90px;
  &:focus {
    background-color: $focusColor; /* Darker shade of blue */
    box-shadow: $shadowColor; /* Blue glow */
    outline: none; /* Remove default outline */
  }
  &:hover {
    background-color: $hoverColor;
  }
}


.ae-button {
  @include button-styles;
  &:last-child {
    margin-left: 10px;
  }
}


.save-button {
  @include button-styles($backgroundColor: #007bff, $hoverColor: #0056b3, $focusColor: #0056b3, $shadowColor: 0 0 0 3px rgba(0, 123, 255, 0.5))
}
.cancel-button {
  @include button-styles($backgroundColor: #9FA6B2, $hoverColor: #63676d, $focusColor: #6c757d, $shadowColor: 0 0 0 3px rgba(108, 117, 125, 0.6))
}
.delete-button {
  @include button-styles($backgroundColor: #dc3545, $hoverColor: #ff0000, $focusColor: #c82333, $shadowColor: 0 0 0 3px rgba(220, 53, 69, 0.5))
}

