
.event-box {
  background-color: #1a73e8;
  height: 97%;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #ddd;
  cursor: move;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  &:hover{
    transform: translateY(-2px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow */
  }
  &.absolute {
    position: absolute;
    top: 1px;
    left: 2px;
    margin: auto;
    width: calc(100% - 5px);
  }
  .event-box__title {
    display: block;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    padding-right: 10px;
  }

}
.event-box:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(26, 115, 232, 0.5); /* Blue glow on focus */
}
