<div
  tabindex="0"
  [style.height.%]="eventSpan ? eventSpan * 0.98 : null"
  [attr.aria-label]="title + ': at ' + changeDateFormat(eventDuration.date) + ', from ' + eventDuration.startTime + ' to ' + eventDuration.endTime"
  [ngStyle]="{
    '--event-bg-color': isHovered ? eventHoverColor : eventBackColor,
    '--event-border-color': eventBorderColor
    }"
  (mouseover)="isHovered = true"
  (mouseleave)="isHovered = false"
  class="event-box absolute">
  <span
    class="event-box__title"
    [ngStyle]="{'--event-title-color': eventFontColor}">{{ title }}</span>
  <span
    class="event-box__duration"
    [ngStyle]="{'--event-duration-color': eventFontColor}">{{ eventDuration.startTime }} - {{ eventDuration.endTime }}</span>
</div>
