<form>
  <label for="eventName" class="event-form-label">Event Name:</label>
  <input id="eventName" name="eventName" class="event-form-input" [value]="''" />

  <div class="event-form-time">
    <div class="event-form-time-picker">
      <label for="eventStartDate" class="event-form-label">Start Date:</label>
      <input
        id="startDate"
        type="text"
        name="endDate"
        class="event-form-input"
        #startDate />
    </div>

    <div class="event-form-time-picker">
      <label for="eventEndDate" class="event-form-label">End Date:</label>
      <input
        id="endDate"
        type="text"
        name="endDate"
        class="event-form-input"
        #endDate
        />
    </div>
  </div>



  <label for="eventDescription" class="event-form-label">Description:</label>
  <textarea id="eventDescription" class="event-form-input" name="eventDescription">{{''}}</textarea>
</form>
