<app-calendar
  [schedulerUI]="{
    schedulerBackColor: '',
    schedulerFontColor: '',
    cellColor: '',
    currentDayColor: '',
    currentTimeBarColor: '',
    navigationColor: '',
    }"
  [eventUI]="{
    eventBackColor: '',
    eventHoverColor: '',
    eventBorderColor: '',
    eventFontColor: ''
  }"
  [customClass]="'custom-class-to-use'"
  [isAmPmFormat]="true"
  [disableRightClick]="false"
  [showReminderData]="{
    showEventReminder: true,
    showBeforeMinutes: 30
  }"
  [urlData]="{
    baseUrl: 'http://localhost:3000',
    getUrl: '/events',
    addUrl: '/events',
    updateUrl: '/events',
    deleteUrl: '/events'
  }"
   (eventCreated)="onEventCreated($event)"
   (eventUpdated)="onEventUpdated($event)"
   (eventDeleted)="onEventDeleted($event)"
   (eventCreationFailed)="onEventCreationFailed($event)"
   (eventUpdateFailed)="onEventUpdateFailed($event)"
   (eventDeletionFailed)="onEventDeleteFailed($event)"

  ></app-calendar>
