<app-calendar
  [schedulerUI]="{schedulerBackColor: '', schedulerFontColor: '', cellColor: ''}"
  [eventUI]="{eventBackColor: '', eventHoverColor: '', eventBorderColor: '', eventFontColor: ''}"
  [currentDayColor]="''"
  [currentTimeBarColor]="''"
  [titleColor]="''"
  [customClass]="'custom-class-to-use'"
  [isAmPmFormat]="false"
  [disableRightClick]="false"
  [urlData]="{
    baseUrl: 'http://localhost:3000',
    getUrl: 'http://localhost:3000/events',
    addUrl: 'assets/events.json',
    updateUrl: 'assets/events.json',
    deleteUrl: 'assets/events.json'
  }"
  ></app-calendar>


<router-outlet></router-outlet>
