<app-calendar
  [schedulerUI]="{
    schedulerBackColor: '',
    schedulerFontColor: '',
    cellColor: '',
    currentDayColor: '#ff0000',
    currentTimeBarColor: '#ff0000',
    navigationColor: '',
    }"
  [eventUI]="{eventBackColor: '', eventHoverColor: '', eventBorderColor: '', eventFontColor: ''}"
  [customClass]="'custom-class-to-use'"
  [isAmPmFormat]="false"
  [disableRightClick]="false"
  [urlData]="{
    baseUrl: 'http://localhost:3000',
    getUrl: '/events',
    addUrl: '/events',
    updateUrl: '/events',
    deleteUrl: '/events'
  }"
  ></app-calendar>

<router-outlet></router-outlet>
