
header {
  padding: 1rem 45px 1rem 45px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

header h1 {
 font-size: 1.25rem;
 text-align: center;
 font-weight: normal;
}

.calendar-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: rgba(0, 0, 0, 0.4);
}


button.secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 500;
  &:focus {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.5); /* Add border to highlight focus */
    outline: none; /* Remove default browser outline */
  }
}

button.secondary:active {
  box-shadow: none;
}
button.secondary:focus {
  outline: 0;
}

.icon {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon:hover {
  color: red;
}

.chevron {
  font-size: 1.5rem;
  margin: 0 0.2rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-weight: 700;
    border: 1px solid transparent;
    &:focus {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.5); /* Add border to highlight focus */
      outline: none; /* Remove default browser outline */
    }
  }
}
.today {
  align-self: flex-start;
  flex: 0 0 1;
}
.week-label {
  flex: 1;
  margin: 0 0.5rem;
}
.header-align {
  align-self: flex-start; flex: 0 0 1
}
