<header>
  <button
    class="today secondary"
    (click)="getToday()"
    [attr.aria-label]="'Today is ' + todaysDate.split(' ')[0]"
    tabindex="0">Today</button>
  <div class="calendar-title" [style.color]="titleColor">
    <div class="icon secondary chevron chevron-left" (click)="getFirstOrLastWeek(FLWeek.FIRST)">
      <button [style.color]="titleColor">&#171;</button>
    </div>
    <div class="icon secondary chevron chevron-left" (click)="toPreviousWeek()">
      <button [style.color]="titleColor">&lsaquo;</button>
    </div>
    <h1 class="week-label"><span></span><strong>{{ weekStart }} – {{ weekEnd }}</strong>, &nbsp;{{ monthName }} &nbsp; {{ year }}</h1>
    <div class="icon secondary chevron chevron-right" (click)="toNextWeek()">
      <button [style.color]="titleColor">&rsaquo;</button>
    </div>
    <div class="icon secondary chevron chevron-right" (click)="getFirstOrLastWeek(FLWeek.LAST)">
      <button [style.color]="titleColor">&#187;</button>
    </div>
  </div>
  <div class="header-align"></div>
</header>
