
header {
  padding: 1rem 45px 1rem 45px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
header h1 {
 font-size: 1.25rem;
 text-align: center;
 font-weight: normal;
}
.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  &:focus {
    background-color: #f8f9fa; /* Slightly off-white on focus */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Soft gray glow */
    color: rgba(0, 0, 0, 0.7); /* Slightly darker text on focus */
    outline: none;
  }
}
button.secondary:active {
  box-shadow: none;
}
button.secondary:focus {
  outline: 0;
}
.icon {
  font-size: 1.5rem;
  margin: 0 0.3rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  &:hover {
    color: red;
  }
}
.today {
  align-self: flex-start;
  flex: 0 0 1;
}
.week-label {
  flex: 1;
  margin: 0 0.5rem;
}
.header-align {
  align-self: flex-start;
  flex: 0 0 1
}
