<div class="calendar">

  <app-calendar-header
    [weekStart]="weekStart"
    [weekEnd]="weekEnd"
    [year]="this.timeFrame.year"
    [monthName]="this.timeFrame.month"
    (onToday)="getToday()"
    (onWeekCHange)="getWeekChange($event)"
    (onGetFirstOrLastWeek)="getFirstOrLastWeek($event)"
    ></app-calendar-header>

  <div class="outer">

<div class="wrap">
  <table class="offset">
    <thead>
      <tr>
        <th class="headcol"></th>
        <th *ngFor="let dayInWeek of weekDays; let i = index; let isLast = last" [ngClass]="{'is-today' : dayInWeek.isToday}">
          <span *ngIf="i !== weekDays.length - 2 && !isLast">{{ dayInWeek.day }}</span>
          <span *ngIf="i === weekDays.length - 2">{{ dayInWeek.day }}</span>
          <span *ngIf="isLast">{{ dayInWeek.day }}</span>
        </th>
      </tr>
    </thead>
  <tbody>
    <ng-container *ngFor="let slot of timeSlots; even as isEven;">
      <tr [attr.data-time]="slot">
        <td class="headcol">
          <span *ngIf="isEven" class="headcol-text">{{ slot }}</span>
        </td>
        <td *ngFor="let day of eventGrid">

          <div
            *ngIf="findEvent(day, slot)?.event; else noEvent"
            [style.height]="'calc(' + getEventSpan(day.date, slot) + '% - 3px)' || null"
            class="event-box absolute"
            >
            <span class="event-box__title">{{ findEvent(day, slot).event?.title }}</span>
            <span class="event-box__description">{{ findEvent(day, slot).event?.description }}</span>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
</div>
</div>

<ng-template #noEvent>
  <!-- Placeholder or empty cell -->
</ng-template>
