
body {
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "DINPro", "Helvetica Neue", sans-serif;
  padding: 3rem;
  margin: 0;
  background: #ffffff;
  box-sizing: border-box;
  height: 100vh;
}
.outer {
  position:relative;
}
.calendar {
  margin: 0 auto;
  min-width: 500px;
  border-radius: 0;
  background-color: #ffffff;
}
.wrap {
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 70px);
  border-radius: 0;
  outline: none;
  padding-bottom: 40px;
}

.headcol {
  width: 40px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0;
  text-align: center;
  border: 0;
  position: relative;
  border-bottom: 1px solid transparent;
  .headcol-text {
    position: absolute;
    top: -10px;
    font-size: 18px;
    font-weight: 500;
    &.am-pm {
      right: 5px;
    }
  }
}
